.NewsContent {
    text-align: center;
    line-height: 1.5vh;
    font-size: 2.5vh;
    font-weight: lighter;
}

#Hitokoto {
    color: dodgerblue;
    font-size: 2.5vh;
    font-family: 楷体, 新宋体, sans-serif;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 2vw;
}

#Icon {
    text-align: center;
    color: dodgerblue;
    font-size: 30vh;
    margin-top: -18%;
}

#Name {
    color: white;
    font-size: 2.5vh;
    margin-left: 5%;
    margin-top: 0;
}

#NewsTitle {
    color: black;
    font-family: 新宋体, 宋体, sans-serif;
    font-weight: bolder;
    font-size: 4vh;
    text-align: center;
    margin-top: 2%;
}

#time {
    color: black;
    font-size: 3vh;
    margin-left: 6%;
    line-height: 2vh;
    font-family: "Comic Sans MS", sans-serif;
}